@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0ea5e9;
}

/* Base styles */
@layer base {
  body {
    @apply antialiased text-gray-900 dark:text-gray-100;
  }
}

/* Custom utility classes */
@layer utilities {
  .transition-colors {
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
}